# For Django, Celery, Celerybeat
DJANGO_DEBUG=True
DJANGO_CORS_ALLOW_ALL_ORIGINS=True
DJANGO_SECRET_KEY=<insert_generated_key>
# 'DJANGO_ALLOWED_HOSTS' should be a single string of hosts with a space between each.
# For example: 'DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]'
DJANGO_ALLOWED_HOSTS=*
# 'DJANGO_CSRF_TRUSTED_ORIGINS' should be a single string of hosts with scheme and a space between each.
# For example: 'DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost http://127.0.0.1'
DJANGO_CSRF_TRUSTED_ORIGINS=<insert_domain_or_ip_with_scheme>
SQL_DATABASE=<insert_databasename_dev>
SQL_USER=<insert_databaseuser>
SQL_PASSWORD=<insert_databasepassword>
SQL_HOST=postgres
SQL_PORT=5432

# For Postgres
POSTGRES_USER=<insert_databaseuser> # must match SQL_USER ^
POSTGRES_PASSWORD=<insert_databasepassword> # must match SQL_PASSWORD ^
POSTGRES_DB=<insert_databasename_dev> # must match SQL_DATABASE ^

# For hot reloading of front end via vite dev server
# www.domain.com or differentdomain.com or 192.168.1.1
FQDN_OR_IP_WHERE_HOSTED=<insert_domain_or_ip>

# example: BADGE_LEADERBOARD_BASE_URL=http://127.0.0.1/api
BADGE_LEADERBOARD_BASE_URL=<insert_badge_leaderboard_base_api_url>
BADGE_LEADERBOARD_API_TOKEN=<insert_badge_leaderboard_api_token>