{% extends 'layout.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <h1>About the Challenges</h1>
    <br />

    <h4>Terminating</h4>
    <hr />
    <p>(5 points + time) - This challenge involves terminating a cat 5 cable. Visit the Hardware Hacking Village for tutorials, practice, and finally your speed-entry. That's right, this is the only Side Quest challenge that involves speed. You may try as many time as you'd like, once per turn please. Your speed will be recorded and used as a tie-break for the Side Quest scoring.</p>
    <br />

    <h4>CTF</h4>
    <hr />
    <p>This category is comprised of two challenges. One on the easier side, and one that requires a bit more time investment. Please visit the CTF to complete these challenges and when you do, check in with the CTF staff to get your points awarded.</p>
    <ol class="ordered-list">
        <li>(1 point) - Web/Gizmo</li>
        <li>(4 points) - Misc/Corn Not Corn</li>
    </ol>
    <br />
    
    <h4>Escape Room</h4>
    <hr />
    <p>(5 points) - This challenge is completing one of our newest villages - the Escape Room! Complete the room's challenges and report to the Escape Room organizers who will add to your score!</p>
    <br />

    <h4>Badge</h4>
    <hr />
    <p>(5 points) - This challenge is also located in the CTF room. Complete the goldilocks challenge and report to the CTF staff to get your points!</p>
    <br />

    <h4>Radio</h4>
    <hr />
    <p>This challenge is located in the Village room at the Radio Village. It comprises of 5 challenges, each worth 1 point.</p>
    <p>Linux OS (not a VM) is recommended for these quests.  Wifi and RTL-SDR adpaters are available for use at the Radio Hacking Village</p>
    <ol>
        <li>(2 points) - WiFi Side Quest</li>
        <ol>
            <li>Crack the passwords for these wifi networks</li>
            <li>The access points have no clients connected</li>
            <li>The passwords are 20 chars long, from the Rockyou wordlist. https://gitlab.com/kalilinux/packages/wordlists</li>
        </ol>
    </ol>
    <ol>
        <li>(1 point) - Embedded SideQuest</li>
        <ol>
            <li>Use the UART (serial) connection to find the wifi password</li>
            <li>The router is a Netgear R6080. OpenWrt website has helpful info</li>
        </ol>
    </ol>
    <ol>
        <li>(2 points) - Wireless SideQuest</li>
        <ol>
            <li>Decode the device ID's for the wireless PIR motion sensors</li>
            <li>Google image search to find make & model</li>
            <li>Find the FCC ID to get the frequency (eBay images if google isn't helpful)</li>
            <li>rtl_433</li>
        </ol>
    </ol>
    <br />

    <h4>Lock Picking</h4>
    <hr />
    <p>This challenge is </p>

{% endblock %}