{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="jumbo-head">
            <div class="image-starter">
                <img class="sq-logo" src="media/side-quests.png" alt="Image" class="img-fluid">
            </div>
            <div class="jumbo-head-text">
                <h2 class="jumbo-header">Welcome to the first-ever Kernelcon Side Quests Competition!</h2>
                <p class="lead">Explore our exciting quests and challenges.</p>
            </div>
        </div>
        <hr class="my-4">
        <p class="jumbo-text">Throughout the con, there will be challenges spread far and wide, such as, can you pick a lock, can you escape, can you solve this web vulnerability, and what do you know about networking? Check out the public scoreboard and compete in Kernelcon Side Quests. The competition will run for two solid days, so there is plenty of time to compete and attend your desired talks. The winner can expect to receive a prize for all their hard work proving they are, without a doubt, Kernelcon's most well-rounded hacker!</p>
    </div>
{% endblock %}