<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Kernelcon Side Quests
        {% endblock %}
    </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <nav>
        <span class="left-nav">
            <a href="/">
                <span aria-label="Home" title="Home">Kernelcon Side Quests</span>
            </a> 
            <a href="/about">
                <svg class="Icon" height="12" viewBox="0 0 24 24" width="12" data-reactid="10"><path d="M0 0h24v24H0V0z" fill="none" data-reactid="11"></path><path d="M12 2L4.5 20.29l.71.71L12 18l6.79 3 .71-.71z" data-reactid="12"></path></svg>
                <span aria-label="About" title="About">About the Challenges</span>
            </a>
            <a href="/scoreboard">
                <svg class="Icon" height="12" viewBox="0 0 24 24" width="12" data-reactid="17"><path d="M0 0h24v24H0V0z" fill="none" data-reactid="18"></path><path d="M4 8h4V4H4v4zm6 12h4v-4h-4v4zm-6 0h4v-4H4v4zm0-6h4v-4H4v4zm6 0h4v-4h-4v4zm6-10v4h4V4h-4zm-6 4h4V4h-4v4zm6 6h4v-4h-4v4zm0 6h4v-4h-4v4z" data-reactid="19"></path></svg>
                <span aria-label="Scoreboard" title="Scoreboard">Scoreboard</span>
            </a>
        </span>
        <span class="right-nav">
            {% if user.is_authenticated %}
                <span class="nav-name">Welcome, {{ user.username }}</span>
                <form class="logout" action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %} 
                    <button class="logout-button" aria-label="User Logout" title="User Logout">LogOut</button>
                </form>
            {% else %}
                <a href="{% url 'users:register' %}">
                    <span role="img" aria-label="User Registration" title="User Registration">Register</span>
                </a>
                <a href="{% url 'users:login' %}">
                    <span role="img" aria-label="User Login" title="User Login">Login</span>
                </a>
            {% endif %}
        </span>
    </nav>
    <div class="container">
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <!-- Bootstrap JS (optional, only needed if you use Bootstrap JS features) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
